body {
    background-image: url("../img/offer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.home-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 70%;
}

.home-container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.home-options {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.home-options a {
    margin-right: 10px;
    color: #987554;
    text-decoration: none;
}

.home-options a.register,
.home-options a.login {
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #987554;
    color: white;
    text-decoration: none;
}

.home-options a.register:hover,
.home-options a.login:hover {
    background-color: #967d65;
}

footer {
    background-color: #18191A;
    color: grey;
    text-align: center;
    padding: 30px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}