body {
    background-image: url("../img/offer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.register-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login__form {
    display: flex;
    flex-direction: column;
}

.login__form input[type="text"],
.login__form input[type="email"],
.login__form input[type="tel"],
.login__form input[type="password"],
.login__form input[type="date"] {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.login__form input[type="submit"] {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #987554;
    color: white;
    cursor: pointer;
}

.login-form input[type="submit"]:hover {
    background-color: #005700;
}