body {
    background-image: url("../img/closeup.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #18191A;
    text-align: left;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 18px;
}

nav ul li {
    text-transform: uppercase;
    flex-grow: 1;
    text-align: center;
}

nav ul li a {
    color: grey;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #987554;
}

h1 {
    margin-top: 30px;
    padding-left: 60px;
    font-size: 50px;
}

p {
    font-size: 18px;
    padding-left: 60px;
}

.profile-info {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     padding-left: 60px;
     margin-top: 30px;
     color: #333;

.profile-info input[type="email"],
.profile-info input[type="text"],
.profile-info input[type="password"] {
    width: 250px;
    padding: 8px;
    margin-bottom: 10px;
}

.profile-info input[type="submit"] {
    background-color: #987554;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.profile-info input[type="submit"]:hover {
    background-color: #967d65;
}

.options {
    font-size: 15px;
}

.container {
    display: flex;
    justify-content: flex-start;
    padding-left: 60px;
}

.volunteer-form {
    font-size: 15px;
}

.volunteer-form input[type="submit"] {
    background-color: #987554;
    color: white;
    transition: background-color 0.3s;
    padding: 10px 20px;
}

.volunteer-form input[type="submit"]:hover {
    background-color: #775498;
}