<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Admin Add</title>
    <link rel="stylesheet" th:href="@{/css/user_page.css}">
    <style>
        form {
            margin-left: 230px;
            margin-bottom: 60px;
        }

        select, input[type="submit"],
         input[type="date"], input[type="text"],
         input[type="email"], input[type="password"] {
            padding: 6px 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 10px;
            font-size: 14px;
            width: 167px;
        }

        select:focus, input[type="submit"]:focus,
         input[type="date"]:focus, input[type="text"]:focus,
         input[type="email"]:focus, input[type="password"]:focus {
            border-color: #987554;
            outline: none;
        }

        input[type="submit"] {
            padding: 8px 12px;
            border: none;
            border-radius: 4px;
            background-color: #987554;
            color: white;
            cursor: pointer;
            text-decoration: none;
            display: inline-block;
        }

        input[type="submit"]:hover {
            background-color: #967d65;
        }

        footer {
            background-color: #18191A;
            color: grey;
            text-align: center;
            padding: 30px 0;
            position: fixed;
            bottom: 0;
            width: 100%;
            margin-top: 60px;
        }
    </style>
    <script>
        function sortCities() {
            var select = document.querySelector('select[name="city"]');
            var options = Array.from(select.options);
            options.sort(function(a, b) {
                return a.text.localeCompare(b.text, 'en', { sensitivity: 'accent' });
            });
            select.innerHTML = '';
            options.forEach(function(option) {
                select.add(option);
            });
        }

        function initialize() {
            sortCities();
        }

        function showConfirmation() {
            const email = document.getElementsByName('email')[0].value;
            const name = document.getElementsByName('name')[0].value;
            const surname = document.getElementsByName('surname')[0].value;
            const phoneNumber = document.getElementsByName('phoneNumber')[0].value;
            const password = document.getElementsByName('password')[0].value;
            const oib = document.getElementsByName('oib')[0].value;
            const address = document.getElementsByName('address')[0].value;

            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            const nameSurnameRegex = /^[A-Za-z]{1,20}$/;
            const phoneNumberRegex = /^[0-9]{8,16}$/;
            const oibRegex = /^[0-9]{11}$/;

            if (!oibRegex.test(oib)) {
                alert("Please enter a valid OIB (11 digits).");
                return false;
            }

            if (!emailRegex.test(email)) {
                alert("Please enter a valid email address.");
                return false;
            }

            if (!nameSurnameRegex.test(name) || !nameSurnameRegex.test(surname)) {
                alert("Name and surname should contain only letters and be within 20 characters.");
                return false;
            }

            if (!phoneNumberRegex.test(phoneNumber)) {
                alert("Please enter a valid phone number between 8 and 16 digits.");
                return false;
            }

            if (address.length > 30) {
                alert("Address cannot exceed 30 characters.");
                return false;
            }

            alert("Add successful!");
            return true;
        }
    </script>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/admin_page}">Home</a></li>
            <li><a th:href="@{/admin_manage_admin_subject?type=manageAdmin}">Admin Management</a></li>
            <li><a th:href="@{/admin_manage_staff_subject?type=manageStaff}">Staff Management</a></li>
            <li><a th:href="@{/admin_manage_user_subject?type=manageUser}">User Management</a></li>
            <li><a th:href="@{/admin_manage_volunteers}">Volunteer Management</a></li>
            <li><a th:href="@{/admin_manage_dogs}">Dog Management</a></li>
            <li><a th:href="@{/admin_manage_contracts}">Contract Management</a></li>
            <li><a th:href="@{/admin_manage_vaccines}">Vaccine Management</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </nav>
</header>

<h1>Add a new user</h1>

<p>
    This user registration form streamlines the process of adding new individuals into the system.<br>
    It simplifies the task of capturing essential information such as name, gender, contact details and location.
</p><br>

    <form th:action="${'/submit-add-' + registerRequest.role + '?type=submit' + registerRequest.role}"
          class="login__form" method="POST" th:object="${registerRequest}">

        <input type="text" name="name" pattern="[A-Za-z]{1,20}" placeholder="Name" title="Only characters allowed, max 20 characters" th:value="${registerRequest.name}" required>

        <input type="text" name="surname" pattern="[A-Za-z]{1,20}" placeholder="Surname" title="Only characters allowed, max 20 characters" th:value="${registerRequest.surname}" required><br>

        <select name="gender" required>
            <option value="" disabled selected>Select Gender</option>
            <option value="Male" th:selected="${registerRequest.gender=='Male'}">Male</option>
            <option value="Female" th:selected="${registerRequest.gender=='Female'}">Female</option>
        </select><br>

        <input type="text" name="oib"th:value="${registerRequest.oib}" pattern="[0-9]{11}" placeholder="OIB" title="Enter a valid OIB (11 digits)"
               th:required="${registerRequest.role == 'Staff' or registerRequest.role == 'Admin'}"><br>

        <input type="email" name="email" placeholder="Email" th:value="${registerRequest.email}" required><br>

        <input type="text" name="phoneNumber" pattern="[0-9]{8,16}" placeholder="Phone Number" title="Enter a valid phone number (8-16 digits)" th:value="${registerRequest.phoneNumber}" required><br>

        <input type="date" name="dateOfBirth" placeholder="Date of Birth" th:value="${registerRequest.dateOfBirth}" required><br>

        <select name="city" required>
            <option value="" disabled selected>Select City</option>
            <option value="Zagreb" th:selected="${registerRequest.city == 'Zagreb'}">Zagreb</option>
            <option value="Split" th:selected="${registerRequest.city == 'Split'}">Split</option>
            <option value="Rijeka" th:selected="${registerRequest.city == 'Rijeka'}">Rijeka</option>
            <option value="Osijek" th:selected="${registerRequest.city == 'Osijek'}">Osijek</option>
            <option value="Zadar" th:selected="${registerRequest.city == 'Zadar'}">Zadar</option>
            <option value="Slavonski Brod" th:selected="${registerRequest.city == 'Slavonski Brod<'}">Slavonski Brod</option>
            <option value="Pula" th:selected="${registerRequest.city == 'Pula'}">Pula</option>
            <option value="Sesvete" th:selected="${registerRequest.city == 'Sesvete'}">Sesvete</option>
            <option value="Karlovac" th:selected="${registerRequest.city == 'Karlovac'}">Karlovac</option>
            <option value="Varaždin" th:selected="${registerRequest.city == 'Varaždin'}">Varaždin</option>
            <option value="Šibenik" th:selected="${registerRequest.city == 'Šibenik'}">Šibenik</option>
            <option value="Sisak" th:selected="${registerRequest.city == 'Sisak'}">Sisak</option>
            <option value="Knin" th:selected="${registerRequest.city == 'Knin'}">Knin</option>
            <option value="Vinkovci" th:selected="${registerRequest.city == 'Vinkovci'}">Vinkovci</option>
            <option value="Vukovar" th:selected="${registerRequest.city == 'Vukovar'}">Vukovar</option>
            <option value="Dubrovnik" th:selected="${registerRequest.city == 'Dubrovnik'}">Dubrovnik</option>
            <option value="Bjelovar" th:selected="${registerRequest.city == 'Bjelovar'}">Bjelovar</option>
            <option value="Koprivnica" th:selected="${registerRequest.city == 'Koprivnica'}">Koprivnica</option>
            <option value="Đakovo" th:selected="${registerRequest.city == 'Đakovo'}">Đakovo</option>
            <option value="Požega" th:selected="${registerRequest.city == 'Požega'}">Požega</option>
            <option value="Solin" th:selected="${registerRequest.city == 'Solin'}">Solin</option>
            <option value="Kaštela" th:selected="${registerRequest.city == 'Kaštela'}">Kaštela</option>
            <option value="Samobor" th:selected="${registerRequest.city == 'Samobor'}">Samobor</option>
            <option value="Metković" th:selected="${registerRequest.city == 'Metković'}">Metković</option>
            <option value="Čakovec" th:selected="${registerRequest.city == 'Čakovec'}">Čakovec</option>
            <option value="Virovitica" th:selected="${registerRequest.city == 'Virovitica'}">Virovitica</option>
            <option value="Kutina" th:selected="${registerRequest.city == 'Kutina'}">Kutina</option>
            <option value="Bjelovar" th:selected="${registerRequest.city == 'Bjelovar'}">Bjelovar</option>
        </select>

        <input type="text" name="address" placeholder="Address" maxlength="30" th:value="${registerRequest.address}" required><br>

        <input type="password" name="password" placeholder="Password" minlength="8" maxlength="20" required>

        <input type="password" name="confirmPassword" placeholder="Confirm Password" minlength="8" maxlength="20" required><br><br>

        <input type="submit" value="Register">
    </form>

<footer>
    <b>&copy; 2023 Your Dog Adoption Application</b>
</footer>

</body>
</html>